parameters:
    level: 6
    paths:
        - app
        - database/seeders
        - database/factories
        - routes
    excludePaths:
        - app/Livewire
        - app/View/Components
        - app/Http/Controllers/Auth/ConfirmablePasswordController.php
        - app/Http/Controllers/Auth/NewPasswordController.php
        - app/Http/Controllers/Auth/PasswordResetLinkController.php
        - app/Http/Controllers/Auth/RegisteredUserController.php
        - app/Http/Controllers/Auth/AuthenticatedSessionController.php
        - app/Http/Controllers/Auth/PasswordController.php
        - app/Http/Controllers/Auth/VerifyEmailController.php
        - app/Http/Controllers/ProfileController.php
        - bootstrap/cache
        - database/migrations
        - node_modules
        - storage
        - vendor
    treatPhpDocTypesAsCertain: false
    phpVersion: 80400
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: return.type
        -
            identifier: trait.unused

includes:
    - vendor/larastan/larastan/extension.neon
